.mainMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainMenu.light {
    background: #fff;
    color: #444;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}

.mainMenu.dark {
    background: #444;
    color: #fff;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
}

.mainMenuItem a {
    padding: 0.5em 1em;
    display: block;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
}

.mainMenuItem a.active {
    border-bottom: 2px solid teal;
}

.mainMenu.light .mainMenuItem a:hover {
    background-color: #dfdfdf;
    border-bottom: 2px solid #ccc;
}

.mainMenu.dark .mainMenuItem a:hover {
    background-color: #202020;
    border-bottom: 2px solid #222;
}
