.mainMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #ccc;
}

.mainMenuItem a {
    padding: 0.5em;
    margin: 0 0.5em;
    display: block;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
}

.mainMenuItem a.active {
    border-bottom: 2px solid teal;
}
.mainMenuItem:nth-child(1) a {
    margin-left: 0;
}
