.mainMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #fff;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}

.mainMenuItem a {
    padding: 0.5em 1em;
    display: block;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
}

.mainMenuItem a.active {
    border-bottom: 2px solid teal;
}

.mainMenuitem a:hover {
    background-color: #dfdfdf;
    border-bottom: 2px solid #ccc;
}
