.errorMessage {
    font-size: 2em;
    padding: 1em;
    text-align: center;
    border: 1px solid crimson;
    color: #888;
}

.errorMessage.light {
    background-color: #fff;
    color: #444;
}

.errorMessage.dark {
    background-color: #444;
    color: #fff;
}
