.btn {
    padding: 0.5em 1em;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.primary {
    background-color: teal;
    color: #fff;
}

.secondary {
    background-color: #cecece;
    color: #444;
}

.btnPlaintext {
    padding: 0;
    box-shadow: none;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}
