.listItem {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.listItem:hover {
    background-color: #efefef;
}

.listItem.inactive {
    text-decoration: line-through;
}

.listItem.active {
    text-decoration: none;
}

.listItem .checkbox {
    flex: 0 0 5%;
}

.listItem .name {
    flex: 0 0 45%;
}

.listItem .category {
    flex: 0 0 45%;
}

.listItem .quantity {
    flex: 0 0 10%;
}
