.ctrl,
.btnGroup {
    margin-top: 1em;
}

.ctrl input[type='text'] {
    width: 100%;
    padding: 0.25em;
}

.ctrl label {
    display: block;
    padding: 0.25em 0;
}

.btnGroup button {
    margin-right: 1em;
}
